---
layout: markdown_page
title: Jobs
description: Browse job openings at GitLab and apply to join a very productive, ambitious team, where independence and flexibility are both valued and required.
---

## On this page
{:.no_toc}

- TOC
{:toc}

## What's it like to work at GitLab?

GitLab's [100% remote culture](/company/culture/all-remote/) and our workplace methodologies are highly unique. You should not expect to transfer the norms of colocated corporations into a work from anywhere scenario. Those who thrive at GitLab take the opportunity to drop prior workplace baggage at the door, embrace a liberating and empowering [set of values](/handbook/values/), and **give themselves permission to truly operate differently**. 

So differently, in fact, that many of GitLab's most effective [processes](/company/culture/all-remote/management/) would be discouraged or forbidden in conventional corporations. **It's not a trap**. It's the future of work. 

Explore the resources below for a deeper understanding of [life at GitLab](/company/culture/#life-at-gitlab).

1. [GitLab's guide to starting a new remote role](/company/culture/all-remote/getting-started/)
1. [Adopting a self-service and self-learning mentality](/company/culture/all-remote/self-service/)
1. [Culture and experience as seen on the GitLab Blog](/blog/categories/culture/)
1. [GitLab's guide to making remote work](/company/culture/all-remote/)

<a name="no-recruiters"></a>

## We don't accept solicitations by recruiters

We do not accept solicitations by recruiters, recruiting agencies, headhunters and outsourcing organizations.
If you email us [we'll reply](https://gitlab.com/gitlab-com/people-group/recruiting/blob/master/Templates%20for%20responding%20to%20third%20party%20agencies) with [a link to this paragraph](/jobs/faq/#no-recruiters) to indicate we would very much appreciate it if you stop emailing us and remove us from any marketing list.


## Country hiring guidelines

At GitLab, we hire people from all over the world and all walks of life.
Diversity & Inclusion is one of our [core values](/handbook/values/).
However, with being a [remote only company](/company/culture/all-remote/) we face challenges as it pertains to hiring in certain countries.
Each country has unique and complex rules, laws and regulations, which can affect us to conduct business, as well as the employability of the citizens of those countries.

We are growing rapidly and continuously expanding our hiring capabilities in other geographies.
However, at this time we are unable to hire employees and contractors in the specified countries below:

<% Gitlab::Homepage::Jobs::HiringStatus.no_hiring_list.map {|no_hirable| no_hirable['country'] }.sort.each do |country_name| %>
- <%= country_name %>
<% end %>

We encourage you to continue to check our handbook as we establish our presence in other countries.

### Country hiring status

We have a more detailed [Hiring Status](/jobs/hiring-status/) page with a list of countries we have evaluated and a
summary on why we are blocked in some locations

In countries listed in our [contract_factors.yml file](https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/contract_factors.yml), we have a payroll and can employ you as an employee. In all other countries, we can hire you as a contractor.

## How to apply for a position

The best way to apply for a position with GitLab is directly through our [jobs page](/jobs), where our open positions are advertised. If you do not see a position that aligns with your skillset, please keep your eye on the jobs page and check back in the future as we do add roles regularly. Please be advised that we do not retain unsolicited resumes on file so you will need to apply directly to any position you are interested in now or in the future.

To apply for a current vacancy:

1. Go to our [jobs page](/jobs) and [view our open opportunities](/jobs/apply)
1. Click on the position title that interests you! Please also refer to the [country hiring guidelines](/jobs/faq/#country-hiring-guidelines) to see if we are able to hire in your location.
1. You will be redirected to the vacancy description and application form, where you will be asked to fill out basic personal information, provide your resume, LinkedIn, and/or cover letter, and answer any application questions, as well as answer a voluntary Equal Employment Opportunity questionnaire. While the EEO questionnaire has `US` in its title, it's open to all applicants from around the world.
1. Once you have finished, click "Submit Application" at the bottom.
1. Should you reach out to any GitLab team-members on LinkedIn, whether or not you have applied on our jobs page, you'll receive the following reply:

>Thank you for your interest in GitLab. We would much rather prefer you apply for the position you have in mind directly via our [Jobs page](https://about.gitlab.com/jobs/). This will ensure the right GitLab team-member reviews your profile and reverts back to you! Unfortunately, at this time, I can not refer you for the position as we have not had a chance to work together. To ensure we stay [Inclusive](https://about.gitlab.com/handbook/values/#diversity--inclusion), I can also not influence your application".

## The next step

We respond to all applications as soon as we're able.Candidates are welcome to contact the recruiting team at any time for an update on their candidacy. You can check out [review the typical hiring timeline](/handbook/hiring/interviewing/#typical-hiring-timeline) for more detailed information. 
