---
layout: handbook-page-toc
title: "Growth Quality Engineering team"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

Engineers in this team are embedded in the [Growth section].

## Areas of Responsibility

All stages under [Growth section].
* **[Growth stage]**


## Team members

<%= direct_team(manager_role: 'Quality Engineering Manager, Growth') %>

## Project Management

The global issue board for the team can be found here: [Quality - Growth QE Team](https://gitlab.com/groups/gitlab-org/-/boards/978348)

[Growth section]: /handbook/product/categories/#growth-section
[Growth stage]: /handbook/product/categories/#growth-stage
